body {
	margin: 0;
	padding: 0;
	background: url(images/galaxia.jpg);
    background-repeat: no-repeat;
	background-size: cover;
    background-position: center;
    height: 100vh;
	overflow: hidden;
}

.lua {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #ffefef;
	box-shadow: 0 0 15px rgba(255, 0, 98, 0.5),
				0 0 30px rgba(255, 0, 43, 0.5),
				0 0 45px rgba(240, 91, 45, 0.5),
				0 0 60px rgba(255, 174, 0, 0.5),
				0 0 10px rgba(255, 30, 0, 0.5);
}

.foguete {
	top: -50%;
	left: -60%;
	position: absolute;
	transform-origin: 200px 200px;
	animation: foguete 60s linear infinite;
}

.foguete img {
	width: 85px;
	height: 85px;
}

@keyframes foguete {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}